<template lang="html">
  <div>
    <p>Hi</p>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
    props: {
        username: {
            type: String
        }
    },
    computed: {
        ...mapState({
            user: state => state.users.profile[0]
        })
    },
    created () {
        this.getUser(this.username);
    },
    methods: {
        ...mapActions('users', {
            getUser: 'getUser',
        })
    }
};
</script>