<template>
<div id="root">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img :src="logo" alt="OneLink" height="45px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/about">About OneLink <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        </div>
    </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <div v-if="alert.message" :class="`alert ${alert.type}`">{{alert.message}}</div>
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
    <footer>
    <div class="card text-center">
  <div class="card-footer text-muted">
    OneLink by Abhimanyu Dwivedi
  </div>
</div>
    </footer>

</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import brand_logo from '../../public/images/onelink_logo.png'

export default {
    data: function () {
        return {
            logo: brand_logo,
        }
    },
    name: 'app',
    computed: {
        ...mapState({
            alert: state => state.alert
        })
    },
    methods: {
        ...mapActions({
            clearAlert: 'alert/clear' 
        })
    },
    watch: {
        $route (to, from){
            // clear alert on location change
            this.clearAlert();
        }
    } 
};
</script>

<style  scoped>
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
</style>
