<template lang="html">
  <div>
       <span v-if="user != null"> 
        <div class="profile-header container">
            <div class="row mx-auto justify-content-center align-items-center flex-column">
                <img :src="image" alt="" width="200px" height="200px" class = "rounded-circle border-bottom-0">
            </div>
            <div class="row mx-auto justify-content-center align-items-center flex-column">
                     <h1>{{user.firstName +" "+ user.lastName}}</h1>
            </div>
            
        </div>
        <div class="card" >
            <div class="card-header text-center">
                <h4>Profile</h4>
            </div>
            <div class="card-body text-center">
                    <div class="col-auto">
                    <label class="sr-only" for="githubId">Github URL</label>
                    <div class="input-group mb-2">
                       
                        <div class="input-group-prepend"> 
                        <div class="input-group-text" ><i class="fa fa-github" style="font-size:36px; margin-right:13px;"> </i></div>
                        </div>
                        <div class="form-control" style="padding-top:5px; font-size:25px;" > <a :href="'https://github.com/'+user.links.github">{{user.links.github}}</a></div>
                    </div>
                    </div>
                    <div class="col-auto">
                    <label class="sr-only" for="githubId">Github URL</label>
                    <div class="input-group mb-2">
                       
                        <div class="input-group-prepend"> 
                        <div class="input-group-text" ><i class="fa fa-info" style="font-size:36px; margin-right:13px;margin-left:17px;"> </i></div>
                        </div>
                        <div class="form-control" style="padding-top:5px; font-size:25px;"> <a :href="'http://'+user.links.website">{{user.links.website}}</a></div>
                    </div>
                    </div>
                                        <div class="col-auto">
                    <label class="sr-only" for="githubId">Github URL</label>
                    <div class="input-group mb-2">
                       
                        <div class="input-group-prepend"> 
                        <div class="input-group-text" ><i class="fa fa-instagram" style="font-size:36px; margin-right:13px;"> </i></div>
                        </div>
                        <div class="form-control" style="padding-top:5px; font-size:25px;"> <a :href="'http://'+user.links.website">{{user.links.github}}</a></div>
                    </div>
                    </div>
                    <div class="col-auto">
                    <label class="sr-only" for="githubId">Github URL</label>
                    <div class="input-group mb-2">
                       
                        <div class="input-group-prepend"> 
                        <div class="input-group-text" ><i class="fa fa-linkedin" style="font-size:36px; margin-right:13px;"> </i></div>
                        </div>
                        <div class="form-control" style="padding-top:5px; font-size:25px;"> <a :href="'http://'+user.links.website">{{user.links.github}}</a></div>
                    </div>
                    </div>
            </div>
            
        </div>
        </span>
        <span v-if = "user == null"> 
                <p> Opps. I am afraid to find any profile with username {{this.username}} on our server. Are you sure it is correct?</p>
        </span>    
        <span v-if="this.link != null">
        {{this.link}}
        </span>

  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
 import image from '../../public/images/placeholder-male-square.png'
export default {
   
            data: function () {
        return {
            image: image,
        }
    },
    props: {
        username: {
            type: String
        },
        link: {
            type: String
        }
    },
    computed: {
        ...mapState({
            user: state => state.users.profile[0],
        })
    },
    created () {
        this.getUser(this.username);
    },
    methods: {
        ...mapActions('users', {
            getUser: 'getUser',
        })
    }
};
</script>
<style scoped>
a {
    color: grey;
}
.profile-header {
    background-color:#00B8D4;
    border-radius: 20px 20px 0px 0px;
    color: white;
    padding: 25px;
    margin-top: 25px;
}
.card {
 border: none;
 border-radius: 0;
 background: none;
}
</style>